{
  "outline_panel": {
    "dock": "left"
  },
  "collaboration_panel": {
    "button": false
  },
  "agent": {
    "dock": "right",
    "sidebar_side": "right",
    "favorite_models": [],
    "model_parameters": []
  },
  "git_panel": {
    "dock": "left"
  },
  "project_panel": {
    "dock": "left"
  },
  "cli_default_open_behavior": "new_window",
  "theme": "Catppuccin Mocha",
  "icon_theme": "Catppuccin Mocha",
  "base_keymap": "JetBrains",
  "buffer_font_family": "JetBrains Mono",
  "buffer_font_fallbacks": ["{{ .terminal_font }}"],
  "terminal": {
    "shell": {
      "with_arguments": {
        "program": "pwsh",
        "args": ["-NoLogo"]
      }
    },
    "working_directory": "current_project_directory",
    "font_family": "{{ .terminal_font }}",
    "font_size": 13,
    "font_features": {
      "calt": false
    },
    "line_height": "standard",
    "env": {
      "COLORTERM": "truecolor",
      "TERM": "xterm-256color"
    }
  },
  "edit_predictions": {
    "provider": "copilot"
  },
  "languages": {
    "CSharp": {
      "inlay_hints": {
        "enabled": true
      }
    }
  }
}
