{
  "theme": {
    "mode": "system",
    "light": "Ayu Light",
    "dark": "Catppuccin Mocha"
  },
  "icon_theme": "Catppuccin Mocha",
  "base_keymap": "JetBrains",
  "edit_predictions": {
    "provider": "copilot"
  },
  "languages": {
    "CSharp": {
      "inlay_hints": {
        "enabled": true
      }
    }
  }
}
