{{- $name := env "CHEZMOI_NAME" -}}
{{- $email := env "CHEZMOI_EMAIL" -}}
{{- $github := env "CHEZMOI_GITHUB_USERNAME" -}}
{{- $azureOrg := env "CHEZMOI_AZURE_ORG" -}}
{{- $azureProject := env "CHEZMOI_AZURE_PROJECT" -}}
{{- $sourceDir := env "WINDOTS_REPO_ROOT" -}}
{{- if $sourceDir }}
sourceDir = {{ $sourceDir | quote }}

{{- end }}
[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
github_username = {{ $github | quote }}
repo_name = "windots"
azure_org = {{ $azureOrg | quote }}
azure_project = {{ $azureProject | quote }}
editor = "zed"
terminal_font = "JetBrainsMono NFM"
terminal_scheme = "Catppuccin Mocha"
