[core]
	autocrlf = true
	symlinks = true
	longpaths = true
	excludesfile = {{ .chezmoi.homeDir | quote }} + "\\.gitignore_global"
	pager = delta
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[credential]
	helper = manager
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	ff = only
[rerere]
	enabled = true
[merge]
	conflictstyle = zdiff3
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[alias]
	s = status -sb
	co = checkout
	br = branch
	ci = commit
	st = status
	d = diff
	l = log --oneline --graph --decorate -n 20
[include]
	path = ~/.gitconfig.local
