{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "instructions": [
    "AGENTS.md",
    "~/.config/ai/AGENTS.md"
  ],
  "skills": {
    "paths": ["~/.config/ai/skills"]
  },
  "mcp": {
    "git": {
      "type": "local",
      "command": ["npx", "-y", "@modelcontextprotocol/server-git"],
      "enabled": true
    },
    "filesystem": {
      "type": "local",
      "command": ["npx", "-y", "@modelcontextprotocol/server-filesystem", {{ .chezmoi.homeDir | quote }}, "C:/git", "D:/"],
      "enabled": true
    }
  }
}
