{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "mcp": {
    "git": {
      "enabled": false,
      "type": "local",
      "command": ["uvx", "mcp-server-git"]
    },
    "filesystem": {
      "enabled": true,
      "type": "local",
      "command": [
        "bun",
        "x",
        "@modelcontextprotocol/server-filesystem",
        "{{ .chezmoi.homeDir }}",
        "C:/git"
      ]
    }
  }
}
