windows_wsl_setup_acknowledged = true
personality = "pragmatic"
model = "gpt-5.3-codex"
model_reasoning_effort = "medium"

[features]
web_search_request = true
rmcp_client = true
enable_experimental_windows_sandbox = true
multi_agent = true
apps = true

[tui]
status_line = ["model-with-reasoning", "project-root", "git-branch"]
